.icons-category .icons-matrix {
    display: flex;
}
.icons-category .col {
    border-left: 1px solid;
}
.icons-category .col:last-child {
    border-right: 1px solid;
}
.icons-category .tile {
    border-bottom: 1px solid;
    height: 60px;
}
.icons-category .tile:first-child {
    border-top: 1px solid;
}
.icons-category .room-name-tile {
    width: 200px;
}
.icons-category .icons-tile {
    background-color: red;
    width: 60px;
    cursor: pointer;
}
.icons-category .icons-tile.active {
    background-color: green;
}
