.list {
    div {
      margin: 0.5vw;
      padding: 1vw;
    }
    .green {
      color: #219653;
      background: rgba(153, 233, 166, 0.11);
      border: 1px solid #219653;
    }
    .red {
      color: #EB5757;
      background: rgba(255, 195, 195, 0.11);
      border: 1px solid #EB5757;
    }
    .gray {
      color: #A5A1A1;
      background: #F8F8F8;
      border: 1px solid #A5A1A1;
    }
  }