.date-range {
    height: 100%;
    padding: 6px;
    font-size: 15px;
    margin: 0 2vw 40px;
    background: #3075D1;
    border: 1px solid #8DBEFF;
}
.MuiInputBase-root-21 {
    width: 8vw;
    padding-left: 1vw;
}
.rangeTxt {
    display: inline-block;
    height: 100%;
    color: #8DBEFF;
}
.filter {
  direction: ltr;
  margin: 0 2vw 40px;
}