.sentence-edit {
    padding: 50px;
}

.sentence-edit .tabs > div:first-child {
    background-color: #c7f0f6 !important;
}

.sentence-edit .tabs {
    border: 1px solid #c7f0f6;
}
.sentence-edit .tabs .tab {
    color: black !important
}

.sentence-edit .effect-wrapper {
    display: flex;
}

.sentence-edit .effect-wrapper > div {
    margin-right: 20px;
}