/*.addBtn {
    width: 60px;
    min-width: 60px !important;
}
.addBtn svg {
    height: 9.6px !important;
    width: 9.6px !important;
}*/

.addBtn {
  border: 1px solid #2F80ED;
  width: 60px;
  height: 25px;
  display: flex;
  align-items: center;
  color: #2F80ED;
  font-size: 11px;
  justify-content: center;
  cursor: pointer;
  font-family: 'Lato-Black';
  border-radius: 5px;
}