.listItem {
    text-align: left;
}
.listItem.active {
    background-color: #DFF0FE !important;
}
.listItem .actionsIcons {
    display: flex;
    width: auto !important;
    height: auto !important;
}
.rules-list {
    width: 62%;
    margin-left: 2%;
    margin-top: 55px;
}
.rules-list .header {
    font-family: Lato-Bold;
    font-size: 18px;
    margin-bottom: 12px;
}
.rules-list .list {
    background-color: white;
}