.push-notification .field-wrapper {
    display: flex;
    flex-direction: column;
}
.push-notification .field-wrapper > span:first-child {
    color: #8F8F8F;
    font-size: 13px;
    font-weight: bold;
}
.push-notification .title {
    color: #2E2E2E;
    font-size: 30px;
}
.push-notification .bottom {
    position: absolute;
    bottom: 0;
}