.drawer {
  > div:nth-child(2) {
    width: 33%;
  }
}
.profile {
  .close {
    width: 20px;
    height: 20px;
    margin: 20px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
  }
  .details {
    padding: 70px 0 35px 7vw;
    display: flex;
    .avatar {
      width: 90px;
      height: 90px;
      margin-right: 1.5vw;
      border-radius: 50%;
      border: 1px solid #EB5757;  
    }
    .name {
      font-size: 1.3vw;
      font-weight: 600;
    }
    .index {
      font-size: 0.9vw;
      font-weight: 100;
    }
  }
  .roomDetails {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 1vw 3em 2vw;
    padding: 0;
    
    .detail {
      margin: 14px 1vw 14px 2vw;
      width: 11vw;
      .icon {
        color: #BDBDBD;
        text-transform: uppercase;
        padding-left: 1.3vw;
        margin-bottom: 4px;
      }
      .one {
        background-image: url('../../assets/img/checkIn-white.svg');
      }
      .two {
        background-image: url('../../assets/img/checkOut-white.svg');
      }
      .three {
        background-image: url('../../assets/img/room.svg');
      }
      .four {
        background-image: url('../../assets/img/guest.svg');
      }
      .one ,.two ,.three ,.four{
        background-repeat: no-repeat;
        background-position-y: center;
      }
      span {
        color: #4F4F4F;
        font-size: 1.1vw;
      }
    }
  }
  .tabs {
    background-image: linear-gradient(rgba(196, 196, 196, 0.28) 0%, rgba(196, 196, 196, 0) 100%);  
    margin: 20px 0;
    span[class^="TabIndicator-colorSecondary-"] {
      background: #2F80ED;
      height: 20px;
    }
    .tab {
      padding: 1.3vw;
      font-size: 0.9vw;
      font-weight: 600;
    }
  }
}