.triggers {
    text-align: left;
}

.triggers .wrapper-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.triggers .show-multi {
    width: 200px !important;
}