.triggers {
    text-align: left;
}

.triggers .wrapper-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.triggers .wrapper-trigger .valueText {
    width: 50px !important;
}

.triggers .show-multi {
    width: 200px !important;
}

.triggers .show-multi > div:last-child {
    flex-direction: column;
    align-items: center;
}