#root {
    display: flex;
    min-height: 100vh;
    color: white;
}
.side-bar {
    flex: 1;
    width: 20%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    background: #2F80ED;
    flex-direction: column;
}
.logo {
    color: white;
    height: 30px;
    padding: 40px 7%;
    font-size: 1.9vw;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
}
.section {
    width: 80%;
}